body {
  padding: 0;
  margin : 0;
  width: 100%;
}

header {
  background-color: #3f3f44;
  height: 80px;

}

.head {
  color: white;
  font-size: 40px;
  display: inline-block;
  padding: 20px;
}

.header-list {
  color: white;
  float: right;
}

li {
  list-style: none;
  float: left;
  padding: 30px 20px 30px 20px;
  font-size: 20px;
}

ul {
  height: 100%;
  margin: 0;
}

li:hover, .current {
  background-color: #706C61;
  color: #fa744f;
  height: 21px;
}

span {
  color: #fa744f;
}

.container {
  background-image: url('showcase.jpg');
  background-size: cover;
  height: 100vh;
}


.title {
  color: white;
  opacity: 0.9;
}

p {
  color: white;
  opacity: 0.7;
}


.btn {
  border-radius: 10px;
  height: 65px;
  background-color: #323232;
  color: white;
  width: 120px;
  text-align: center;
}
.main {
  text-align: center;
}

.buttonn {
  position: absolute;
  top: 50%;
}

img {
  height: 70vh;
}
.box-1 {
  float: left;
}


.box-2 {
  float: right;
}
